<aside class="sidebar">
  <ul>
    <li><a href="/files">My Files</a></li>
    <li><a href="/shared">Shared</a></li>
    <li><a href="/recent">Recent</a></li>
    <li><a href="/deleted">Deleted</a></li>
  </ul>
</aside>
