@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


#dynamicContent {
  transition: opacity 0.3s ease-in-out;
}

#dynamicContent.hidden {
  opacity: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  padding: 10px;

  &__logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__logo-icon {
    width: 40px;
    height: 40px;
  }

  &__logo-text {
    font-size: 20px;
    margin-left: 10px;
    color: #333;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  &__language {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  &__language-icon {
    margin-right: 5px;
  }

  &__language-chevron {
    margin-left: 5px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 20px;
  margin-top: 50px;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    justify-content: space-around;
  }

  &__button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: 1px solid #eeeeee;
    color: #333;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      background-color: #f3f7fd;
    }

    &__icon {
      position: absolute;
    
    }

    &--apple,
    &--google {
      background-color: #fff;
      color: #333;
    
    svg {
      margin-right: 10px;
    }
    
    }

    &--submit {
      background-color: #007ee5;
      color: white;
      border-color: #ccc;
    }
  }

  &__separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 20px 0;
  }

  &__line {
    flex: 1;
    height: 1px;
    background-color: #eee;
  }

  &__text {
    padding: 0 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;

    &__label {
      font-size: 12px;
      color: #333;
      margin-bottom: 5px;
      font-family: "Montserrat", sans-serif;
    }

    &__button {
      width: 100%;
      height: 50px;
      padding: 10px;
      font-size: 14px;
      font-weight: 900;
      margin-top: 10px;
      border-radius: 15px;
      border: none;
      cursor: pointer;
      border: 1px solid #eee;
      color: #ffffff;
      background-color: #0057e5;
      font-family: "Montserrat", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__button:hover {
      background-color: #0044cc;
    }
  }

  &__input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }

  &__privacy {
    margin-top: 200px;
    display: flex;

    align-items: left;

    a {
      text-decoration: none;
      margin: 0 5px;
      color: #1e1919;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 15px;
    }
    a:hover {
      text-decoration: underline;
    }

    &__separator {
      width: 15%;
      height: 1px;
      background-color: #c8c5bd;
      margin: 30px 0;
      align-self: flex-start;
    }
  }
}

.footer {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  &__language {
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  &__language-icon {
    margin-right: 5px;
  }

  &__language-chevron {
    margin-left: 15px;
    font-size: 30px;
  }
}

.registration-form {
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
}

.registration-form__back {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-bottom: 20px;
  display: inline-block;
}

.registration-form__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.registration-form__form {
  display: flex;
  flex-direction: column;
}

.registration-form__label {
  margin-bottom: 5px;
  font-size: 14px;
}

.registration-form__input {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-form__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.registration-form__checkbox label {
  margin-left: 8px;
  font-size: 12px;
}

.registration-form__terms {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}

.registration-form__terms a {
  color: #007ee5;
  text-decoration: none;
}

.registration-form__button {
  background-color: #007ee5;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.registration-form__button:hover {
  background-color: #005bb5;
}
