<!DOCTYPE html>
<html lang="fr">
   {{> ../partials/login/head }}
<body>
    <div class="container">
        {{> ../partials/login/header }}

        <main class="main">
            <h1 class="main__title">Log in or sign up</h1>
            <div class="main__buttons">
 

    {{> ../partials/login/socialButton }}
            </div>
            <div class="main__separator">
                <span class="main__line"></span>
                <span class="main__text">or</span>
                <span class="main__line"></span>
            </div>
            <div id="dynamicForm">
              {{> ../partials/login/loginForm }}
            </div>
            <div class="main__privacy">
                <a href="#">Confidentialité et conditions</a>
                <a href="#">Politique en matière de cookies</a>
                <a href="#">Préférences concernant les cookies et CCPA</a>
                <a href="#">Principes en matière d'IA</a>
            </div>
        </main>

     
  {{> ../partials/login/footer }}
    </div>
    <script src="bundle.js"></script>
  </body>
</html>



