  <div class="main__privacy">
                <a href="#">Confidentialité et conditions</a>
                <a href="#">Politique en matière de cookies</a>
                <a href="#">Préférences concernant les cookies et CCPA</a>
                <a href="#">Principes en matière d'IA</a>
            </div>