<!DOCTYPE html>
<html lang="fr">
{{> head}}
<body>
  {{> header}} 
  <main id="dynamicContent" class="main">
  
    {{> mainForm}}
  </main>

  {{> footer}}
  <aside>
    {{> aside}}
  </aside>
    <script src="bundle.js"></script>
</body>
</html>