 <form class="main__form" id="emailForm">
                <p class="main__form__label">Email</p>
                <input type="email" class="main__input" />
                <p class="error-message">Veuillez entrer une adresse email valide</p>
                <button type="submit" class="main__form__button">
                    <p>Continue</p>
                </button>
            </form>