<div class="next-step">
  <h2>Ravis de vous revoir !</h2>
  <p>Connexion avec <span id="userEmail">issdia@live.fr</span></p>
  <form id="passwordForm" class="password-form">
    <label for="password" class="password-form__label">Mot de passe</label>
    <input
      type="password"
      id="password"
      class="password-form__input"
      placeholder="Mot de passe"
      required
    />
    <div class="password-form__links">
      <a href="#" id="forgotPassword">Mot de passe oublié ?</a>
    </div>
    <div class="password-form__options">
      <label>
        <input type="checkbox" id="rememberMe" /> Mémoriser
      </label>
    </div>
    <button type="submit" class="password-form__button">Se connecter</button>
  </form>
</div>
