<footer class="footer">
    <div class="footer__language">
        <svg viewBox="0 0 24 24" fill="none" width="24" height="24" role="presentation" focusable="false">
            <path d="M11.75 4C6.535 4 4 6.535 4 11.75s2.535 7.75 7.75 7.75 7.75-2.535 7.75-7.75S16.965 4 11.75 4Z" fill="currentColor"/>
        </svg>
        <span class="footer__language-text">{{language}}</span>
        <span class="footer__language-chevron">›</span>
    </div>
</footer>
