<header class="header">
    <div class="header__logo">
        <a href="/" class="header__logo-link">
            <img class="header__logo-icon" src="/images/dropbox_logo.jpg" alt="Dropbox Logo" />
            <p class="header__logo-text">Dropbox</p>
        </a>
    </div>
    {{> languageSelector}}
</header>